<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've been assigned to a card</h1>
    <p>
      You have been assigned to the card "<%= @card.name %>".
    </p>
    <p>
      Priority: <%= @card.priority %>
    </p>
    <p>
      To view this card, please visit your board.
    </p>
  </body>
</html>