<div id="<%= dom_id column %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= column.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Board:</strong>
    <%= column.board_id %>
  </div>
</div>
